{% extends 'base.html' %}

{% block title%}
<title>Update Location</title>
{% endblock %}

{% block content %}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="/locations/">Locations</a></li>
            <li class="breadcrumb-item active">Update Location</li>
        </ol>
        <div class="card mb-4">

            <div class="card-header">Update Location</div>
            <div class="card-body">
                <!---{{location.location_id}}--->
                <form action="/update-location/{{location.location_id}}" method="POST" id="location_form">
                    <label for="location_name" class="col-form-label">Location Name:</label>
                    <input type="text" name="location_name" id="location_name" value="{{location.location_id}}">

                    <label for="location_capacity" class="col-form-label">Capacity:</label>
                    <input type="number" name="location_capacity" id="location_capacity" value="{{location.capacity_m3}}">

                    <label for="location_storage" class="col-form-label">Storage:</label>
                    <input type="number" name="location_storage" id="location_storage" value="{{location.storage_c}}">

                    <input id="submitLocation" value="Update" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}